*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: 100px auto;
    box-shadow: 0 0 10px black;
    background-color: rgb(147, 233, 224);
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.weathericon{
    /* border: 1px solid red; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
